<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h3>Realizar Pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpergunta" class="form" id="formulario-pergunta">
          <label for="title">Título</label>
          <input name="title" id="title" class="form-control" type="text" placeholder="Título">
          <br>
          <label for="desc">Descrição</label>
          <textarea name="description" id="desc" class="form-control" placeholder="Descreva sua pergunta aqui"></textarea>
          <br>
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
